clienttasks/Service References/meetingsservice/MeetingsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/services.datamodel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/services.datamodel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeetingData" nillable="true" type="tns:MeetingData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetingData" nillable="true" type="tns:ArrayOfMeetingData" />
  <xs:complexType name="MeetingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetingData" nillable="true" type="tns:MeetingData" />
  <xs:complexType name="ArrayOfMeetingEventsData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeetingEventsData" nillable="true" type="tns:MeetingEventsData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeetingEventsData" nillable="true" type="tns:ArrayOfMeetingEventsData" />
  <xs:complexType name="MeetingEventsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartsAt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeetingEventsData" nillable="true" type="tns:MeetingEventsData" />
</xs:schema>